.footer {
    padding: 64px 0 0;
    background: var(--blue200);

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;

        @media(min-width: 900px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 48px;
        }

        .footer__navigation {
            a {
                color: var(--white100);
                transition: linear 0.25s;
                @media(hover: hover) and (pointer: fine) {
                    &:hover {
                        border-bottom: 1px solid var(--white100);
                    }
                }
            }

            .menu-item-has-children {
                &:hover {
                    .sub-menu {
                        display: none;
                    }
                }
                .sub-menu {
                    display: none;
                }
            }
        }
    }

    &__legal {
        padding: 16px 0;
        background: var(--white100);

        ul {
            display: flex;
			flex-direction: column;
			gap: 12px;
			
			@media(min-width: 900px) {
				flex-direction: row;
				gap: 6px;
			}

            li {
                margin-right: 16px;
                font-size: 0.85rem;

                @media(hover: hover) and (pointer: fine) {
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}