.button {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.063em;
    text-align: center;
    text-transform: uppercase;
    transition: ease-in-out 0.25s;

    @media(hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(0.95);
        }
    }

    &--blue,
    &--primary {
        background: var(--blue200);
        color: var(--white100);
    }

    &--green {
        background: var(--green100);
        color: var(--white100);
    }

    &--greenghost {
        border: 1px solid var(--green100);
        color: var(--green100);
    }

    &--blueghost {
        border: 1px solid var(--blue200);
        color: var(--blue200);
    }

    &--lg {
        padding: 18px 40px;
        font-size: 16px;
    }

    &--white {
        background: var(--white100);
        color: var(--blue100);
    }

    &--hasarrow {
        display: flex;
        align-items: center;
    }

    &__arrow {
        position: relative;
        margin-left: 8px;
        height: 20px;
        width: 20px;
    }
}

.read-more {
    display: flex;
    align-items: center;
    color: var(--green100);
    font-size: 1rem;
    font-weight: 700;

    img {
        height: 25px;
        margin-left: 0.5rem;
        width: 25px;
        transition: linear 0.25s;
    }
}