:root {
    --blue100: #283c86;
    --green100: #40832F;
    --white100: #FFF;
    --white200: #fefefe;
    --grey100: #EEE;
    --grey200: #DDD;
    --grey300: #CCC;
    --grey400: #BBB;
    --blue200: #5962FE;
}